#ifndef CONFIG_H
#define CONFIG_H

#include "typedef.h"

#define WIFI_SSID     "WiFi name"
#define WIFI_PASSWORD "WiFi password"

#define APPS_SCRIPT_ID "Google Apps Script ID"

// Configure zones with: Name, type, sensor address
// Note! Use only US-ASCII characters in zone names
// Note! First zone must be the primary auto-zone
Zone zones[] = {
  {"Livingroom", Auto,   {0xCA,0xFE,0xBA,0xBE,0xCA,0xFE,0xBA,0xBE}},
  {"Outside",    Sensor, {0xDE,0xAD,0xBE,0xEF,0xDE,0xAD,0xBE,0xEF}},
  {"Ext.light",  Manual, {                                       }},
};

// Configure Nexa power plugs with: Zone index, type, id
Nexa nexa[] = {
  {0, Simple,   0x000000A1},
  {2, Learning, 0xCAFEBABE},
};

#endif
