#ifndef CONFIG_H
#define CONFIG_H

#include "typedef.h"

// Properties for remote sync
#define WIFI_SSID      "WiFi name"
#define WIFI_PASSWORD  "WiFi password"
#define APPS_SCRIPT_ID "Google Apps Script ID"

// Uncomment to enable serial output
// #define DEBUG

// Zone configuration {"Name", sensor address, {Nexa id, Nexa id}}
Zone zones[] = {
  {"Livingroom", 0xCAFEBABECAFEBABE, {0xA1,0x1A1}},
  {"Outside",    0xDEADBEEFDEADBEEF, {          }},
  {"Ext.light",                   0, {0xCAFEBABE}},
};

#endif
